<div class="create-button-container">
    <a href="/project/create" class="create-button">Create Project</a>
</div>
<hr>
<h2 class="welcome-heading">Issue Tracker App!!</h2>

<h2>All Projects:</h2>
<ul class="project-list">
    <% for(let project of projects){ %>
        <li>
            <div class="project-header">
                <strong class="project-title">
                    <strong>Title: </strong>
                    <%= project.name %>
                </strong>

                <span class="project-author">
                    <strong>Author: </strong>
                    <%=project.author%>

                </span>
            </div>
            <p class="project-description">
                <strong>Description: </strong>
                <%=project.description%>
            </p>
            <a href="/project/<%= project._id %>" class="view-project-button">View Project</a>


        </li>


        <% }; %>
</ul>